<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easylive.base.mapper.MemberUserCouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.easylive.base.entity.po.MemberUserCoupon">
        <id column="user_coupon_id" property="userCouponId" />
        <result column="user_id" property="userId" />
        <result column="coupon_id" property="couponId" />
        <result column="coupon_name" property="couponName" />
        <result column="coupon_type" property="couponType" />
        <result column="discount_value" property="discountValue" />
        <result column="min_amount" property="minAmount" />
        <result column="status" property="status" />
        <result column="receive_time" property="receiveTime" />
        <result column="use_time" property="useTime" />
        <result column="expire_time" property="expireTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_coupon_id, user_id, coupon_id, coupon_name, coupon_type, discount_value, min_amount, status, receive_time, use_time, expire_time
    </sql>

</mapper>
