<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easylive.base.mapper.UserActionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.easylive.base.entity.po.UserAction">
        <id column="action_id" property="actionId" />
        <result column="user_id" property="userId" />
        <result column="video_id" property="videoId" />
        <result column="action_type" property="actionType" />
        <result column="action_count" property="actionCount" />
        <result column="comment_id" property="commentId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        action_id, user_id, video_id, action_type, action_count, comment_id, create_time
    </sql>

</mapper>
